.item {
    border-style: solid;
    border-radius: 10px;
    border-color:rgb(111, 125, 255);
}
.title-name {
    text-size-adjust: 25px;
    background-color: rgb(111, 125, 255);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-weight: bold;
}
.cont {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'a b';
}
.name-tit,.result-tit {
    padding:5px;
    border-color: lightblue;
    border-style: groove;
    border-radius: 10px;
    justify-content: center;
}

