.one-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 50px 80px auto 10px;
    grid-template-areas: 
    'a a'
    'c i'
    'u i'
    'u i'
    'b b'
    ;
    border-style: solid;
    border-bottom-right-radius: 10px;
    border-color:rgb(111, 125, 255);
    height: 600px;
    width: 1200px;
}
.btn-qr {
    grid-area: b;
    height: 30px;
    width: auto;
    background-color: rgb(111, 125, 255);
    color: white;
    font-weight: bold;
    border-style: none;
    margin-top: auto;
    outline: none;
}
.het {
    padding:10px;
    font-size: 20px;
    grid-area: a;
    background-color: rgb(111, 125, 255);
    color: white;
    font-weight: bold;
}
.main-container img {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-style: solid;
        border-color:rgb(111, 125, 255);
        text-align: center;
    }
    .one-container img {
        width:800px;
        height:520px;
    }

.container {
    text-align: center;
    padding:10px;
    grid-area: c;
}
.cutcont {
    padding:10px;
    grid-area: u;
    text-align: center;
}

.con-one,.con-res {
    text-align: center;
    border-style: groove;
    border-radius: 5px;
    width: 104px;
}
.tit-hed {
    font-weight: bold;
}
.con-one {
    font-weight: bold;
}

.cutnamefull {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cut-tit-full,.cut-res-full {
    text-align: center;
    border-style: groove;
    border-radius: 5px;
}
.cut-tit-pice,.cut-res-pice {
    text-align: center;
    border-style: groove;
    border-radius: 5px;
}
.cutCount {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.code-img {
    height: 200px;
    width: 200px;
}
@media screen and (max-width:800px) {
    .one-container {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 50px 80px auto 200px;
        grid-template-areas: 
        'a'
        'c'
        'u'
        'u'
        'i'
        'b'
        ;
        height: auto;
        width: auto;
    }
    .container {
        justify-content: center;
        padding:10px;
        grid-area: c;
    }
    .row-one {
        display: flex;
    }
    .con-one,.con-res {
        width:160px
    }
    .het {
        text-align: center;
    }
    .one-container img {
        height:226px;
        width:350px;
    }
    .main-container {
        width: 350px;
    }
    .main-container img {
        margin-left: 40px;
    }
  }