.container-hed {
    padding:5px;
    background-color:rgb(111, 125, 255);
    border-bottom: rgb(111, 125, 255) solid;
    display: flex;
}
.header-title-lrInf, .header-title-calc {
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.menu-bar {
    display: none;
}

.header-title2 {
text-align: right;
width: auto;
margin-left: auto;
color: white;
}
.logo {
    height: 50px;
    width: 50px;
    margin-top: 8px;
    border-style: solid;
    border-radius: 50px;
    border-color: white;

}
.logo:hover {
    transition: 0.5s;
    transform: scale(1.1);
}
@media screen and (max-width:800px) {
    .header-title-calc {
        display: none;
    }
    .header-title2 {
        text-align: right;
    }
    .header-title-lrInf {
        display: none;
    }
    .container-hed {
        justify-content: center;

    }
}