.app {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:  
  "h h "
  "c m "
  "n m ";
}

.main {
  grid-area: m;
}
.cont-link {
  grid-area: n;
  text-align: top;
  text-align: center;
}
.calc {
  grid-area: c;
}

.hed {
  grid-area: h;
  height: 150px;
}

.btn-side {
  height: 50px;
  width: 250px;
}