.app {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 0.5fr 4fr 10fr;
  grid-template-areas:  
  "h h "
  "c m "
  "n m ";
  border-style: solid;
  border-color: rgb(111, 125, 255);;
  width: 1600px;
  margin-left: 7.5%;
  height: auto;
}

.main {
  grid-area: m;
}
.cont-link {
  grid-area: n;
  text-align: top;
  text-align: center;
}
.calc {
  grid-area: c;
  
}

.hed {
  grid-area: h;
  height: auto;

}

.btn-side {
  height: 50px;
  width: 300px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border-color: rgb(111, 125, 255);
  border-right: none;
  border-left: none;
  outline: none;

}
.btn-side:hover {
  transition: 0.5s;
  background-color: rgb(111, 125, 255);
  color: white;
}
@media screen and (max-width:800px) {
  .main {
    grid-area: n;
  }
  .app {
    grid-template-rows: 0.25fr 2fr 10fr;
    width: 355px;

  }
}