@media screen and (max-width:1400px) {
    .app{
        max-width: 800px;
    }
    .hed {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header-title2 {
        display: none;
    }
}

/* @media screen and (max-width:800px) {
    .header-title-calc {
        display: none;
    }

} */